.header {
  height: 100px; /* setting banner height */
  
  background-color: #01020a;
  color: white;
    
  padding-left: 20px;
  margin: 0;
  
  /* Center the contents of the banner along the horizontal axis */
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.header h1 {
  display: flex;
  align-items: center;
}

.header h1 > * {
  color: white;
  text-decoration: none;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: right;
}

.header ul > li {
  display: inline-block;
  align-items: center;
  padding: 25px;
}

.header ul > li * {
  color: white;
  text-decoration: none;
}