table.invoice {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table.invoice * {
  text-align: center;
}

/* Assigning width ratios to each column */
table.invoice .id {
  width: 10%;
}

table.invoice .name {
  width: 40%;
}

table.invoice :is(
.price,
.tax,
.discount,
.qty,
.subtotal) {
  width: 10%;   
}

/* 
The border-radius property will not work with a collapsed border!
This is because the td themselves will have an overriding effect.
In order to create borders with rounded-corners, change the border-
radius property of the cells themselves
*/
table.invoice th:last-child {
  border-top-right-radius: 10px;
}

table.invoice th:first-child {
  border-top-left-radius: 10px;
}

table.invoice tr:last-child td:hover {
  background-color: #2e60a9;
}

/*
It is necessary to mention the parent container's class name in order to override
the padding value that was inherited from the workspace-container class
*/
.workspace-container table.invoice tbody tr td,
.workspace-container table.invoice thead tr th {
  padding: 2em .5em 2em .5em;
  
  border: 0 solid #050e53;
  /* border-style: solid;
  border-color: black; */
}

table.invoice th {
  background-color: #050e53;
  color: white;
}

table.invoice tr:not(:last-child) td:first-child {
  border-width: 0 0 0 2px;
}

table.invoice tr:not(:last-child) td:last-child {
  border-width: 0 2px 0 0;
}

table.invoice tr:last-child td {
  border: 2px solid #173f7c;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 10px 10px;

  background-color: #173f7c;
  color: white;
}

table.invoice tbody tr:not(:last-child) >:last-child {
  text-align: right;
}

.workspace-container table.invoice th {
  padding: .75em;
  font-size: large;
}

/* .workspace-container table tbody tr:last-child * {
  border-style: solid;
  border-width: 0.1em 0 0 0;
  border-color: rgb(150, 150, 150);
  
  font-size: large;
  font-weight: bold;
} */

/* table tbody :is(
tr:not(:last-child):hover,
tr:not(:last-child):active,
tr.selected,) {
  border-style: solid;
  border-width: 0 .1em 0 .1em;
} */

table.invoice tbody tr:not(:last-child):hover * {
  background-color: #e0ffff;
}

/* table tbody tr:active {
  opacity: .5;
} */

.workspace-container table.invoice input {
  width: 90%;
  padding: 0px;
  outline: none;

  border-width: 0 0 .1em 0;
}