/*  Reset all styling that some browsers may impose by default */
* {
  margin: 0;
  padding: 0;

  /*
  Fixes bug where html element would not occupy the entire screen at smaller dimensions.
  This was affecting the banner's width since it was no longer occupying the entire window.

  Refer https://stackoverflow.com/questions/11801752/html-body-and-div-set-at-100-width-but-its-still-not-taking-the-full-100
  */
  overflow: auto;
}

html {
  height: 100%;
}

body {
  font: 14px "Trebuchet MS", Futura, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* .root-container {
  display: grid;
  height: 100%;

  grid-template-rows: 9fr 1fr;
} */

.workspace-container {
  padding: 20px;
  
  
  /*
  Adding padding and setting width at 100% simultaneously seems to cause the workspace div to overflow.
  This creates a visual bug with the banner where it does not extend across the entire scrollable width.
  In other words, a dead space can be seen to the right of the banner when scrolling right
  */
  
  /* width: 100%; */
  /* height: 100%; */
}

.root-container {
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

.workspace-grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
  column-gap: 2%;
}

.footer {
  background-color: #1d1d1d;
  position:fixed;
  bottom:0;
  left:0;
}

.workspace-container {
  height: auto;
}

.workspace-container * {
  padding: .3em;
}

.centered-label {
  display: flex;
  justify-content: center;
  margin: 1%;
  text-align: center;
}

div.std-container div.head {
  background-color: #050e53;
  color: white;
  font-size: 1.5em;
  border-radius: 10px 10px 0 0;
}

div.std-container div.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;

  padding: 15px;

  border: 2px solid #010737;
  border-radius: 0 0 10px 10px;
}

.basic-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;

  padding: 15px;

  border: 2px solid #010737;
  border-radius: 0 0 10px 10px;
}

.rounded-border {
  border-style: solid;
  border-color: #969696;
  border-width: 2px;
  border-radius: 10px;
}

.add-item-container {
  display: grid;
  grid-template-columns: 2fr 3fr 7fr 2fr 1fr;
  column-gap: 2%;
}

